[Unit]
Description=DataFair

[Service]
Type=simple
ExecStart=/bin/DataFair/DataFair
ExecReload=/bin/DataFair/DataFair
Restart=always

[Install]
WantedBy=multi-user.target