[Unit]
Description=DataFair

[Service]
OOMScoreAdjust=-1000
Type=simple
ExecStart=/root/DataFair/DataFair
ExecReload=/root/DataFair/DataFair
Restart=always

[Install]
WantedBy=multi-user.target